/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */



// modified from shafee's answer https://stackoverflow.com/a/75963682
/*-- scss:rules --*/

.table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/*-- scss:rules --*/
.reveal .slides {
    top: 0 !important;
    padding-top: 0px !important;
}

.reveal .slides .slide:not(.agenda-slide) {
    top: 0 !important;
    padding-top: 0px !important;
}

.agenda {
    margin: auto !important;
    padding: 20% !important;
    width: fit-content !important;
}

section.slide h2, section.slide h1 {
    // color: white !important;
    // background-color: dimgrey !important;
    width: 200vw !important; 
    position: relative;
    left: -100vw !important;
    padding-left: 100vw !important;
    // padding-right: 100vw !important;
  }

.reveal h2 {
    padding-top: 0.375em;
    padding-bottom: 0.375em;
}

.reveal h1 {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}
  
  /* Slide-specific vertical centering override */
.reveal .slides section:has(> h2) {
	top: 0 !important;
}

.reveal .slides section:has(> h1) {
    top: 33% !important;
    // width: 100vh !important;
}