
/*-- scss:defaults --*/
$chapmanRed: #a50034 !default;
$pantherBlack: #231F20 !default;
$grove: #00966C !default;
$pacific: #009CA6 !default;
$pillar: #6E6259 !default;
$sand: #DDCBA4 !default;

$pillar-75: lighten($pillar, 75%) !default;
$pillar-50: lighten($pillar, 50%) !default;
$pillar-25: lighten($pillar, 25%) !default;

$sand-75: lighten($sand, 75%) !default;
$sand-50: lighten($sand, 50%) !default;
$sand-25: lighten($sand, 25%) !default;



$font-family-sans-serif: "Futura Medium", Futura, Helvetica, Arial, sans-serif, sans;



/*-- scss:rules --*/

/* TODO: Provide custom CSS rules */

.table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.callout.callout {
    // border-left-color: #a50034c0;
    border-left-color: rgba($chapmanRed, 75%);
    padding: 0;
    opacity: 100%;
  }
  
.callout.callout-style-simple>.callout-header {
    background:  $chapmanRed;
    color: $sand-50;
    padding: 0.5rem 1rem;
    opacity: 100%;
}
