@import "./chapman.scss";
@import "./banner_title.scss";



/*-- scss:rules --*/
.table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.reveal .slides{
    // top: 0 !important;
    width: 100% !important;
    margin-bottom: 200px !important;
    height: auto;
    // padding-top: 0px !important;
}

.reveal .slides .slide:not(.agenda-slide) {
    // top: 0 !important;
    width: 80% !important;
    margin: 0 10% 200px !important;
    // margin-bottom: 200px !important;
    height: auto;
    // padding-top: 0px !important;
}

div.slides section:not(.title-slide):not(#title-slide):not(.stack) {
    padding-top: 0px;;
}
.reveal .slide aside {
    bottom: auto;
}

// .reveal h1, .reveal h2 {
//     width: 200%;
//     // padding: 0.25em 20%;
//     // margin: 0% -20%;
//     margin-left: 0%;
//     // padding-left: 100%;
//     // top: 0px !important;
//     margin-top: 0px !important;
// }




// .reveal .slides section ul, div {
//     margin: 0 10%;
//     top: 0 !important;
//     bottom: 0 !important;
// }


.reveal .slide-logo {

    bottom: 0px !important;
    right: 0px !important;
    max-height: 100% !important;
    height: auto !important;
    width: 100% !important;
    z-index: 0 !important;
}



.reveal a {
    text-decoration: revert;
}


div.progress {
    height: 0.5rem !important;
}